* {
	box-sizing: content-box;
}
	
h1 {
	text-align: center;
	margin-top:25px;
}
.menu-tile1{
	background-color:#deb887;
	width:80px;
	height:25px;
	border:1px solid black;
	text-align: center;
	padding:0px;
	margin:0px;
	position:relative;
}